body {
    margin: 0px;
    padding: 0px;
    background-color: #FEF4DE;
}

a {
    text-decoration: none;
}

.design {
    height: 780px;
}
.home {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(../fundo.png);
    background-size: cover;
}


#triangulo-para-esquerda {
    display: flex;
    border-bottom: 100px solid transparent; 
    border-right:750px solid #7C4032; 
    transform: rotate(-360deg);/*-360*/
    
}

#triangulo-para-direita {
    display: flex;
    border-bottom: 200px solid transparent; 
    border-right:1600px solid #7C4032; 
    transform: rotate(-180deg);/*-360*/
}

.container {
    padding-left: 15vw;
    display: flex;
    align-items: center; 
    flex-direction: row;   
}

.container1 {
    margin-left: 55px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: #663128;

}

.container1 .titulo {
    font-family: 'Poppins';
    font-size: 100px;
    font-weight: 900;
    line-height: 60px;
    position: inherit;
}    

.container1 .subtitulo {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.435em;
}

.container1 .texto {
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 25px;
    font-size: 15px;
    width: 30vw;
} 

.botaoFundo {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-top: 23px;
    margin-right: 60px;
    margin-left: 0px;
    width: 210px;
    height: 66px;
    background: #F3CE5E;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    border: none;
    border-radius: 57px;
    font-family: 'Poppins';
    color: #663128;
}
.botaoLimpo {
    font-family: 'Poppins';
    font-weight: 500;
    position: relative;
    right: 100px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 0px;
    width: 220px;
    height: 66px;
    background: none;
    border: none;
    border-radius: 57px;
    font-family: 'Poppins';
    color: #663128;
}

.container1 .help {
    font-size: 20px;
    font-weight: 900;
    margin-top: 90px;
}  

.container2 {
    margin-left: -18px;
    padding-right: 5vh;
    padding-left: 5vw;
    width: 100px;
    height: auto;
    
}

.container4 {
    display: flex;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 55px;   
    justify-content: center;
    color: #FFFFFF;
}

.services {
    width: 100%;
    height: 100vh;
    display: flex;
    font-weight: 900;
    background-color: #7C4032;
}

.imgservices {
    justify-content: center;
    align-content: center;
    display: flex;
    height: 65vh;
}

.tela2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

}

.botoes {
    display: flex;
    justify-content: center;
}

.botao2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background: #F3CE5E;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    border: none;
    border-radius: 57px;
    color: #663128;
}



.testymonials {
    display: flex;
    width: 100%;
    height: 100vh;
    font-weight: 900;
    
}

.tela3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../fundo.png);
    background-size: cover;
    gap: 60px;

}

.container5 {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 900;
    align-items: center;
    font-size: 55px;
    color: #7C4032;
    text-align: center;
}


.retangulos{
    display: flex;
    flex-wrap: wrap;
    gap: 60px 60px;
    align-items: center;
    justify-content: center;
}

.retangulos1{
    display: flex;
    gap: 60px;
}

.retangulos2{
    display: flex;
    gap: 60px;
}

.retangulo1{
    box-sizing: border-box;
    position: relative;
    width: 512px;
    height: 192px;
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}

.textbox1{
    display: flex;
    flex-direction: column;
    
}

.nome1{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}

.estrelas1 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.retangulo2{
    box-sizing: border-box;
    position: relative;
    width: 512px;
    height: 192px;  
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}

.textbox2{
    display: flex;
    flex-direction: column;
    
}

.nome2{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}
.estrelas2 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.retangulo3{
    box-sizing: border-box;
    position: relative;
    width: 512px;
    height: 192px;  
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}

.textbox3{
    display: flex;
    flex-direction: column;
    
}

.nome3{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    color: #7C4032;
}

.texto3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}
.estrelas3 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.retangulo4{
    box-sizing: border-box;
    position: relative;
    width: 512px;
    height: 192px;  
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}


.textbox4{
    display: flex;
    flex-direction: column;
    
}

.nome4{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}

.estrelas4 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.botoes2 {
    display: flex;
    justify-content: center;
}

.botao3 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background: #F3CE5E;
    border: none;
    border-radius: 57px;
    color: #663128;
}


.contactus {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    height: 70vh; 
}
 
.tela5{
    width: 100%;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}
.contcent{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container6 {
    font-family: 'Poppins';
    font-weight: 700;
    margin-left: 20px;
    display: flex;
    height: 20vh;   
    justify-content: center;
    color: #663128;
    font-size: 64px;
    font-weight: 900;
}
.listas {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 400;
    list-style: none;
}
.icone {
    margin-right: 30px;
}
li {
    padding: 20px;
}
.back {
    display: flex;
    background-color: #55352D;
    width: 100%;
    height: 200px;
}
.boxes{
    justify-content: center;
    float: left;
}
#box{
    width: 400px;
    height: 66px;
    border-radius: 61px;
    background-color: #E6AF99;;
}
#box2{
    width: 400px;
    height: 66px;
    border-radius: 61px;
    background-color: #E6AF99;;
}
#box3{
    width: 400px;
    height: 66px;
    border-radius: 61px;
    background-color: #E6AF99;
}
.botaocontact {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-top: 23px;
    margin-right: 60px;
    margin-left: 85px;
    width: 210px;
    height: 66px;
    background: #ffffff;
    border: 3px solid #663128;
    border-radius: 57px;
    font-family: 'Poppins';
    color:  #7C4032;
}