* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image: url(../Image\ -\ EXPORTAR.png);
}

.container {
    display: flex;
    justify-content: flex-end;
    margin-top: 12%;
    width: 80vw;
    line-height: 118.5%;
    font-weight: 900;
}
ul {
    list-style: none;
}
.container #l1 {
    font-size: 120px;
    color: #663128;
    font-family: 'Poppins';
    position: absolute;
    
    width: 556px;
    height: 175px;
    left: 352px;
    top: 390px;
}
.container #l2 {
    font-size: 72px;
    color: #663128;
    font-family: 'Poppins';
    position: absolute;
    width: 556px;
    height: 190px;
    left: 367px;
    top: 500px;  
}
.container #l3 {
    color: #663128;
    font-family: 'Poppins';
    position: absolute;
    width: 556px;
    height: 190px;
    left: 360px;
    top: 560px;  
}
.imgUrso{
    
    height: 50vh;
    width: 80vw;
}