* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.imgs {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 20%;
    height: 40vh;
    width: 80vw;
}