* {
    box-sizing: border-box;
    
}
body {
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins';
    background-image: url(../fundo.png);
    height: 100vh;
    width: 100vw;
    align-content: center;
}
div {
    width: 100%;
    
    align-items: center;
}
.container1 {
    display: flex;
    align-items: center;
    max-width: 80vw;
}
.container h1 {
    font-size: 60px;
    display: flex;
    font-weight: 900;
}    
.container h2 {
    font-size: 40px;
    display: flex;
    font-weight: 900;
}
.container h3 {
    font-size: 20px;
    display: flex;
    font-weight: 900;
} 
.container h4 {
    font-size: 20px;
    display: flex;
    font-weight: 900;
}  
.container2 {
    flex-direction: center;
    display: flex;
    align-items: center;
    width: 30vw;
    height: 50vh;
    
}
.container4 {
    display: flex;
    align-items: flex-start;
    width: 55vw;
    height: 50vh;
}
.container4 h1 {
    display: flex;
    
    
}
