main {
    padding-left: 20vw;
    padding-right: 20vw;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    background-image: url(../fundo.png);
    background-color: #FEF4DE;
}
section {
    width: 100%;
    height: 100vh;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
    max-width: 80vw; 
    height: 100vh;
    flex-direction: row;   
}

.container1 {
    display: flex;
    flex-direction: column;
    color: #663128;

}
.container1 .titulo {
    font-size: 100px;
    font-weight: 900;
    line-height: 60%;
    position: inherit;
}    
.container1 .subtitulo {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.435em;
}
.container1 .texto {
    font-size: 20px;
    font-weight: 900;
    width: 30vw;
} 
.container1 .help {
    font-size: 20px;
    font-weight: 900;
    line-height: 100%;
}  
.container2 {
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 30vw;
    background-size: 520px 400px;
}
.container4 {
    display: flex;
    align-items: flex-start;
    width: 55vw;
    height: 50vh;
}
.container4 h1 {
    display: flex;
    

}
