body {
    margin: 0px;
    padding: 0px;
    background-color: #FEF4DE;
}
   

.home {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(../fundo.png);
    background-size: cover;
}


.container {
    padding-left: 15vw;
    display: flex;
    align-items: center; 
    height: 100vh;
    flex-direction: row;   
}

.container1 {
    margin-left: 55px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: #663128;

}

.container1 .titulo {
    font-family: 'Poppins';
    font-size: 100px;
    font-weight: 900;
    line-height: 60px;
    position: inherit;
}    

.container1 .subtitulo {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.435em;
}

.container1 .texto {
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 25px;
    font-size: 15px;
    width: 30vw;
} 

.botaoFundo {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-top: 23px;
    margin-right: 60px;
    margin-left: 0px;
    width: 210px;
    height: 66px;
    background: #F3CE5E;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    border: none;
    border-radius: 57px;
    font-family: 'Poppins';
    color: #663128;
}
.botaoLimpo {
    font-family: 'Poppins';
    font-weight: 500;
    position: relative;
    right: 100px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 0px;
    width: 220px;
    height: 66px;
    background: none;
    border: none;
    border-radius: 57px;
    font-family: 'Poppins';
    color: #663128;
}

.container1 .help {
    font-size: 20px;
    font-weight: 900;
    margin-top: 90px;
}  

.container2 {
    margin-bottom: 140px;
    margin-left: -18px;
    margin-top: 160px;
    padding-right: 5vh;
    padding-left: 5vw;
    width: 100px;
    height: auto;
    
}

.container4 {
    font-family: 'Poppins';
    font-weight: 900;
    position: relative;
    left: 150px;
    display: flex;
    align-items: center;
    font-size: 55px;
    height: 20vh;   
    justify-content: center;
    color: #FFFFFF;
    background-color: #663128;
}


.services {
    font-weight: 900;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #663128;
    justify-content: center;
}

.imgservices {
    position: relative;
    left: 150px;
    height: 50vh;
    display: flex;
    justify-content: center;
    
}

.tela2 {
    align-items: center;
    max-width: 80vw; 
    height: 100vh;
    flex-direction: row; 

}

.botoes{
    display: flex;
    justify-content: space-around;
    font-weight: 100;
}
.botao2 {
    font-family: 'Poppins';
    font-weight: 700;
    position: relative;

    font-size: 20px;
    left: 150px;
    top: 100px;
    width: 200px;
    height: 60px;
    background: #F3CE5E;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    border: none;
    border-radius: 57px;
    font-family: 'Poppins';
    color: #663128;
}


.tela3 {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(../fundo.png);
    background-size: cover;

}

.testymonials {
    width: 100%;
    height: 100vh;
    font-weight: 900;
    justify-content: center;
    
}

.container5 {
    font-family: 'Poppins';
    font-weight: 900;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 55px;
    height: 20vh;   
    justify-content: center;
    color: #7C4032;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}

.retangulos{
    max-width: 100%;
    max-height: 70vh;
    position: relative;
    padding-bottom: 10;
    top: -100px;
}

.retangulo1{
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 512px;
    height: 192px;
    left: 225px;
    top: 100px;
    
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}

.textbox1{
    display: flex;
    flex-direction: column;
    
}

.nome1{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}

.estrelas1 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.retangulo2{
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 512px;
    height: 192px;  
    left: 780px;
    top: -90px;
    
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}

.textbox2{
    display: flex;
    flex-direction: column;
    
}

.nome2{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}
.estrelas2 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.retangulo3{
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 512px;
    height: 192px;  
    left: 220px;
    bottom: 50px;

    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}

.textbox3{
    display: flex;
    flex-direction: column;
    
}

.nome3{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}
.estrelas3 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.retangulo4{
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 512px;
    height: 192px;  
    left: 780px;
    top: -240px;
    
    background: #FFFFFF;
    border: 1px solid #7C4032;
    border-radius: 30px;
}


.textbox4{
    display: flex;
    flex-direction: column;
    
}

.nome4{
    font-family: 'Poppins';
    font-style: normal;
    position: absolute;
    left: 50px;
    top: 15px;
    
    color: #7C4032;
}

.texto4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 50px;
    top: 55px;

    color: #333333;
}

.estrelas4 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.botao3{
    font-family: 'Poppins';
    font-weight: 700;
    position: relative;
    font-size: 20px;
    left: 650px;
    top: -175px;
    width: 200px;
    height: 60px;
    background: #F3CE5E;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    border: none;
    border-radius: 57px;
    font-family: 'Poppins';
    color: #663128;
}

.contactus {

    font-weight: 900px;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: white;
}
.container6 {
    font-family: 'Poppins';
    font-weight: 700;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 20vh;   
    justify-content: center;
    color: #663128;
    font-size: 64px;
    font-weight: 900px;
}
.listas {
    font-family: 'Poppins';
    font-weight: 400;
    position: relative;
    left: 200px;
    list-style: none;
    position: absolute;
    left: 53vw;
    top: 333vh;
}
.icone {
    margin-right: 30px;
}
li {
    padding: 20px;
}
.back {
    position: absolute;
    background-color: #663128;
    width: 100%;
    height: 200px;
    top: 380vh;
}
.boxes{
    position: absolute;
    margin-top: 100px;
    left: 370px;
}
#box{
    width: 400px;
    height: 66px;
    left: 100px;
    border-radius: 61px;
    background-color: #E6AF99;;
}
#box2{
    width: 400px;
    height: 66px;
    left: 100px;
    border-radius: 61px;
    background-color: #E6AF99;;
}
#box3{
    width: 400px;
    height: 66px;
    left: 100px;
    border-radius: 61px;
    background-color: #E6AF99;
}
.botaocontact {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-top: 23px;
    margin-right: 60px;
    margin-left: 85px;
    width: 210px;
    height: 66px;
    background: #ffffff;
    border: 3px solid #663128;
    border-radius: 57px;
    font-family: 'Poppins';
    color:  #7C4032;
}